.timings {
}

.smallIcon {
  height: 1em;
}

.timingsImg {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  display: block;
}

.timingsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.timingsContainer > * {
  flex: 1 0 200px;
  text-align: center;
}
